
* {
   margin: 0;
}


.f-average {
   font-family: 'Average-Sans', sans-serif;
}

.f-roboto {
   font-family: 'Roboto', sans-serif;
}

.ls-2 {
   letter-spacing: 2px;
}
.ls-20 {
   letter-spacing: 25px;
}

/* start index.html */
.bgWeb {

   height: 100vh;
   background-image: url('img/bgWeb.jpg');
  
   background-size: cover;
   
   
}


.bgOpacityWeb {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .3);
   
}

.bgOpacityWeb > span.Judul {
   font-size: 50px;
}

/* end index.html */


/* start account.html */
@media screen and (max-width: 777px) {
    .Wrapper {
      height: 110vh;
    }
    .Wrapper > button {
        width: 60% !important;
    }
}
@media screen and (min-width: 768px) {
    .Wrapper {
        height: 100vh;
    }
    
    .Wrapper > button {
        width: 500px !important
    }
}

/* end account.html */
